body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    transition: background-color 0.3s ease;
}
select,button{
    font-size: 18px;
    margin: 10px;
    padding: 6px;
}
#result{
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
h2{
    font-size: 45px;
    font-family: apple-system;
    text-underline-offset: 3px;
}
#question{
    font-size: 28px;
    font-family: cambria;
}
